body {
  font-family: sans-serif;
  background: gray;
  padding: 5% 20% 5% 20%;
}

.footer {
  padding-top: 50px;
}

hr {
  border: 1px solid black;
}

#problema {
  float: left;
}

#prompt {
  padding: 20px;
  visibility: hidden;
  /*    display: none; */
  border-style: solid;
  float: right;
  background-color: white;
}

.tree {
  margin-top: 50px;
  clear: both;
  text-align: center;
  padding: 30px;
  overflow-x: auto;
  border-style: solid;
  border-radius: 5px;
  font-family: monospace;
}

#t3 {
  width: 6em;
}

#v4 {
  width: 3em;
}

*.alPie {
  color: black;
  font-style: italic;
  position: absolute;
  bottom: 0px;
  right: 100px;
}

*.Hip {
  text-decoration: line-through;
  color: red;
  font-weight: bold;
}

*.Pre {
  color: blue;
  font-weight: bold;
}

/* COMIENZAN ESTILOS VIEJOS */

letra {
  font-weight: bold;
}

*.ingprompt {
  border-style: solid;
  position: absolute;
  top: 100px;
  right: 100px;
}

*.siblings {
  display: inline-block;
  vertical-align: bottom;
}

/*
*.upper { white-space: nowrap }
*/

*.siblings table {
  table-layout: fixed;
}

*.cancelada {
  text-align: center;
  text-decoration: line-through;
  color: red;
  font-weight: bold;
}
*.premisa {
  text-align: center;
  color: blue;
  font-weight: bold;
}
*.conclusion {
  text-align: center;
}

*.aplicacion2 {
  table-layout: fixed;
}

*.just {
  vertical-align: top;
  text-align: left;
}
